---
import { RoleDisplay } from "../role-display"
import { CatalogGrid } from "../catalog-grid"
---

<section id="catalog" class="relative h-screen">
  <h2
    class="absolute top-0 left-0 flex items-center px-8 py-8 text-2xl tracking-tight"
  >
    <span class="text-3xl text-transparent select-none">ploycheeze</span>
    <div class="relative top-2">
      <RoleDisplay client:load />
    </div>
  </h2>
  <div class="relative -top-5 flex h-full w-full items-center justify-center">
    <CatalogGrid client:load />
  </div>
</section>
