---
import { Image } from "astro:assets"
import standardSkinBg from "@/assets/standard-skin.png"
import { Button } from "@/components/ui/button"
import CustomCursor from "@/components/custom-cursor.tsx"
---

<section id="standard-skin" class="relative h-screen">
  <!-- React version of the custom cursor -->
  <CustomCursor client:load />

  <Image
    src={standardSkinBg}
    alt="Standard Skin BG"
    class="pointer-events-none absolute inset-0 h-full w-full object-cover select-none"
    priority
    loading="eager"
  />
  <div
    class="relative flex h-full flex-col justify-end px-8 pb-10 text-2xl font-light text-white"
  >
    <div class="flex w-full items-end justify-between">
      <h2 class="leading-tight">
        Standard Skin Clinic <br /> Be your own standard
      </h2>
      <div>
        <p>Director / Cinematographer</p>
        <Button
          className="h-8 w-full rounded-none border-white bg-transparent text-white hover:border-black hover:bg-[#e59ac6] hover:text-black"
          variant="outline"
        >
          see more
        </Button>
      </div>
    </div>
  </div>
</section>
