---
import { SortSheet } from "./sort-sheet"
---

<div
  class="pointer-events-none fixed top-0 left-0 z-50 flex w-full items-start justify-between px-8 py-10 text-3xl tracking-tight text-white mix-blend-difference"
>
  <h1 class="pointer-events-auto font-normal">ploycheeze</h1>
  <SortSheet client:load />
</div>
